<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>구구단</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="root">
        <div>{{ first }}곱하기 {{ secend }}는? </div>
        <form v-on:submit="onSubmitForm" name="form">
            <input type="text" v-model="value" ref="answer">
            <button type="submit">입력</button>
        </form>
        <div id="result">{{result}}</div>
    </div>
<script>
    const app = new Vue({
        el: '#root',
        data: {
            first: Math.ceil(Math.random() * 9),
            secend: Math.ceil(Math.random() * 9),
            value: '',
            result: ''
        },
        methods: {
            onSubmitForm(e) {
                e.preventDefault();
                console.log("first : ", this.first);
                console.log("secend : ", this.secend);
                console.log("value : ", parseInt(this.value));

                if (this.first * this.secend === parseInt(this.value)) {
                    this.result = '정답';
                    this.first = Math.ceil(Math.random() * 9);
                    this.secend = Math.ceil(Math.random() * 9);
                    this.value = '';
                    this.$refs.answer.focus();
                } else {
                    this.result = '땡';
                }

            }
        }
    })
</script>
</body>
</html>