<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>좋아요</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="root">
        <div v-if="route === 'main'">메인화면</div>
        <div v-else-if="route === 'sub'">서브화면</div>
        <div v-if="liked">좋아요 눌렀음</div>
        <button v-else v-on:click="onClickButton">Like</button>
    </div>
<script>
    const app = new Vue({
        el: '#root',
        data: {
            liked: false,
            route: 'main'
        },
        methods: {
            onClickButton() {
                this.liked = true;
            }
        }
    });
</script>
</body>
</html>