<template>
    <td @click="onClickTd">{{ cellData }}</td>
</template>

<script>
    import EventBus from './EventBus';
    export default {
        props: {
            cellData: String,
            rowIndex: Number,
            cellIndex: Number
        },
        methods: {
            onClickTd() {
                if (this.cellData) return;
                //this.$root.$data 자식 컴포넌트가 최상의 컴포넌트 데이터 접근
                //this.$parent.$data 자식 컴포넌트가 부모 컴포넌트 데이터 접근
                //console.log('this.$root.$data : ', this.$root.$data);
                //console.log('this.$parent.$data : ', this.$parent.$data);

                //EventBus는 vuex와는 다르게 이벤트를 중앙에서 통제 할 수 있다.
                EventBus.$emit('clickTd', this.rowIndex, this.cellIndex); //최상의 컴포넌트에서 $on 이랑 대응 되기때문에 EventBus.$on('clickTd', this.onClickTd); 에 clickTd 가 실행된다

            }
        },
    }
</script>