<template>
    <table>
        <!-- <tr-component v-for="(rowData, index) in tableData" :row-index="index" :key="index"></tr-component> -->
        <slot />
    </table>
</template>

<script>
    // import TrComponent from './TrComponent';

    export default {
        /*
        components: {
            TrComponent
        },        
        computed: {
            tableData() {
                return this.$store.state.tableData;
            },
            turnMessage() {
                return this.$store.getters.turnMessage;
            }
        }
        */

    }
</script>