<template>
    <td @click="onClickTd">{{ cellData }}</td>
</template>

<script>
    import { mapState } from 'vuex';
    import { CLICK_CELL, SET_WINNER, RESET_GAME, CHANGE_TURN, NO_WINNER } from './store';

    export default {
        props: {
            rowIndex: Number,
            cellIndex: Number
        },
        computed: { //vuex의 state 를 쓰기위해선 computed 에 반드시 연결을 해줘야 한다.
            ...mapState({
                tableData: state => state.tableData,
                turn: state => state.turn,
                cellData(state) {
                    return state.tableData[this.rowIndex][this.cellIndex];
                },
            })
            // cellData() {
            //     return this.$store.state.tableData[this.rowIndex][this.cellIndex];
            // },
            // tableData() {
            //     return this.$store.state.tableData;
            // },
            // turn() {
            //     return this.$store.state.turn;
            // }
        },
        methods: {
            
        },
    }
</script>