<template>
    <div>
        <div>{{turn}} 님의 턴입니다</div>
        <!-- <table-component></table-component> -->
        <!-- <table>
            <tr v-for="(rowData, rowIndex) in tableData" :key="rowIndex">
                <td @click="onClickTd(rowIndex, cellIndex)" v-for="(cellData, cellIndex) in rowData" :key="cellIndex">{{ cellData }}</td>
            </tr>
        </table> -->
        <!-- 다른컴포넌트에다가 태그 형식으로 값을 넘겨줄 수 있다. 그러면 자식 컴포넌트에서 slot 태그 안에 태그내용이 들어간다. 
        slot을 쓰면 컴포넌트 안에 내용이 없을때 slot 태그 안에 내용을 기본내용으로 보여줄 수도 있다.
        제어의 역전(ioc) inversion of control 이라고 한다.
         -->
        <table-component>
            <tr v-for="(rowData, rowIndex) in tableData" :key="rowIndex">
                <td @click="onClickTd(rowIndex, cellIndex)" v-for="(cellData, cellIndex) in rowData" :key="cellIndex">{{ cellData }}</td>
            </tr>
        </table-component>
        <div v-if="winner">{{ winner }}님의 승리!</div>
    </div>
</template>

<script>
    import { mapState } from 'vuex';
    import store, { CLICK_CELL, SET_WINNER, RESET_GAME, CHANGE_TURN, NO_WINNER } from './store';
    import TableComponent from './TableComponent';

    export default {
        store,
        components: {
            TableComponent
        },
        data() {
            return {
                data: 1,
            }
        },
        computed: {
            ...mapState(['winner', 'turn', 'tableData']),
            // ...mapState({ //위에 방법을 아래 winner : state => 화살표로 사용할수도 있고
            // winner(state) {} 함수혇태로도 사용할 수 있다. 함수는 위에 data나 props 값을 받아서 사용할 수 도 있다.
            //     winner: state => state.winner, 
            //     winner(state) {
            //         return state.winner + this.data;
            //     },
            //     turnState: 'turn', //turn 을 turnState 로 이름을 바꿀수도 있다.
            // })
            // winner() {
            //     return this.$store.state.winner;
            // },
            // turn() {
            //     return this.$store.state.turn;
            // }
        },
        methods: {
            onClickTd(rowIndex, cellIndex) {
                if (this.cellData) return;

                this.$store.commit(CLICK_CELL, { row: rowIndex, cell: cellIndex });

                let win = false;
                if (this.tableData[rowIndex][0] === this.turn && this.tableData[rowIndex][1] === this.turn && this.tableData[rowIndex][2] === this.turn) {
                    win = true;
                }
                if (this.tableData[0][cellIndex] === this.turn && this.tableData[1][cellIndex] === this.turn && this.tableData[2][cellIndex] === this.turn) {
                    win = true;
                }
                if (this.tableData[0][0] === this.turn && this.tableData[1][1] === this.turn && this.tableData[2][2] === this.turn) {
                    win = true;
                }
                if (this.tableData[0][2] === this.turn && this.tableData[1][1] === this.turn && this.tableData[2][0] === this.turn) {
                    win = true;
                }

                if (win) { //이긴 경우 : 3줄 달성
                    this.$store.commit(SET_WINNER, this.turn)
                    this.$store.commit(RESET_GAME);
                } else { // 지거나 무승부
                    let all = true; //all이 true면 무승부라는 뜻
                    this.tableData.forEach((row) => { //무승부 검사
                        row.forEach(cell => {
                            if (!cell) {
                                all = false;
                            }
                        });
                    });
                    if (all) { //무승부
                        this.$store.commit(NO_WINNER);
                        this.$store.commit(RESET_GAME);
                    } else {
                        this.$store.commit(CHANGE_TURN);
                    }
                }
            }
        },
    }
</script>

<style>
    table {
        border-collapse: collapse;
    }
    td {
        border: 1px solid black;
        width: 100px;
        height: 100px;
        text-align: center;
    }
</style>