<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>끝말잇기</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="root">
        <word-relay start-word="제로초"></word-relay>
        <word-relay start-word="초밥"></word-relay>
        <word-relay start-word="바보"></word-relay>
    </div>
<script>
    //component 는 반복되는 작업일때 사용한다.
    //component 는 data객체를 -> data객체를 돌려주는 data() 함수 형태로 되어야 한다. 참조관계 때문에 그렇다. 
    //데이터가 각각 데이터 마다  값이 달라야 하기 때문이다. 그렇기 때문에 새로운 형태의 객체를 항상 만들어서 리턴하는 매소드
    //template 안에 태그가 들어갈때는 항상 <div></div> 부모태그 하나안에 들어가야한다. 
    /* 예시)
    <div>
        <tag></tag>
    </div>
    (올바른 예)

    <div>내용</div>
    <div>내용</div>
    <div>내용</div>
    (나쁜 예)
    */

    Vue.component('word-relay', { //전역 컴포넌트
        template: `
        <div>
            <div>{{word}}</div>
            <form v-on:submit="onSubmitForm">
                <input type="text" ref="answer" v-model="value">
                <button type="submit">입력!</button>
            </form>
            <div>{{result}}</div>
        </div>
        `,
        props: ['startWord'],
        data() {
            return {
                word: this.startWord,
                result: '',
                value: ''
            }
        },
        methods: {
            onSubmitForm(e) {
                e.preventDefault();
                console.log('this.value : ', this.value[0]);
                //this.value[0] 배열[0]인 이유는 '초밥' 이라고 값이 들어오면 첫번째 단어 '초' 란 첫번째 단어를 뜻하기 때문이다
                if (this.word[this.word.length -1] === this.value[0]) {
                    this.result = '딩동댕'
                    this.word = this.value;
                    this.value = '';
                    this.$refs.answer.focus();
                } else {
                    this.result = '땡';
                    this.value = '';
                    this.$refs.answer.focus();
                }
            }
        }
    });
</script>
<script>
    const app = new Vue({
        el: '#root',
    });
</script>
</body>
</html>