<template>
    <div>
       <div id="screen" v-bind:class="state" @click="onClickScreen">{{message}}</div>
       <template v-if="result.length">
           <div>평균 시간 : {{average}} ms</div>
           <button @click="onReset">리셋</button>
       </template>
    </div>
</template>
<!-- 
    v-bind:class="" -- 축약 ==> :class="" 할 수 있다.
-->

<script>
    let startTime = 0;
    let endTime = 0;
    let timeout = null;
    export default {
        data() {
            return {
                result: [],
                state: 'waiting',
                message: '클릭해서 시작하세요.'
            }
        },
        computed: { 
            /*
                template 에서 단순 메세지만 바꾸고 싶은데 템플렛 안에 복잡한 수식이 있으면 그때 마다 다시 연산 되기때문에
                그런 경우를 대비해서 캐싱을 해놓는 것이다. methods 와 computed 차이!! 성능면에서 중요하다.
            */
            average() {
                return this.result.reduce((a, c) => a + c, 0) / this.result.length || 0;
            }
        },
        methods: {
            onReset() {
                this.result = [];
            },
            onClickScreen() {
                if (this.state === 'waiting') {
                    this.state = 'ready';
                    this.message = '초록색이 되면 클릭하세요';
                    timeout = setTimeout(() => {
                        this.state = 'now';
                        this.message = "지금 클릭!";
                        startTime = new Date();
                    }, Math.floor(Math.random() * 1000) + 2000); //2~3초
                } else if (this.state === 'ready') {
                    clearTimeout(timeout);
                    this.state = 'waiting';
                    this.message = '너무 성급하시네요!! 초록색이 된 후에 클릭하세요.';
                } else if (this.state === 'now') {
                    endTime = new Date();
                    this.state = 'waiting';
                    this.message = '클릭해서 시작하세요.';
                    this.result.push(endTime - startTime);
                    //console.log(this.result);
                }
            }
        }
    }
</script>
<!-- <style scoped> => scoped 를 붙여주면 해당 컴포넌트 안에서면 스타일이 적용된다.  -->
<style scoped>
    #screen {
        width: 300px;
        height: 200px;
        text-align: center;
        user-select: none;
    }
    #screen.waiting {
        background-color: aqua;
    }
    #screen.ready {
        background-color: red;
        color : white;
    }
    #screen.now {
        background-color: greenyellow;
    }
</style>