<template>
    <div class="ball" :style="styleObject">{{ number }}</div>
</template>

<script>
    export default {
        name: 'LottoBall',
        props: {
            number: Number
        },
        //props: ['number'] <- 이렇게도 쓸 수 있다. props 로 받은 값은 변경 할 수 없다. 읽기 전용
        //직접 데이터에서 numberData: this.number; 받아서 numberData 값을 변경 해서 사용할 수 있지만 상단 컴포넌트에서 넘겨주는(부모값)과 자식(현재 컴포넌트)와 값이 달라지기 때문에 기피해야 하는 방법이다.
        computed: {
            styleObject() {
                let background;
                if (this.number <= 10) {
                    background = 'red';
                } else if (this.number <= 20) {
                    background = 'orange';
                } else if (this.number <= 30) {
                    background = 'yellow';
                } else if (this.number <= 40) {
                    background = 'blue';
                } else {
                    background = 'green';
                }
                return {
                    background
                }
            }
        }
    }
</script>

<style scoped>
    .ball {
        display: inline-block;
        border: 1px solid black;
        border-radius: 20px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        text-align: center;
        margin-right: 20px;
    }
</style>