<template>
    <div>
        <div>당첨숫자</div>
        <div id="결과창">
            <lotto-ball v-for="ball in winBalls" v-bind:number="ball" :key="ball"></lotto-ball>
        </div>
        <div>보너스</div>
        <lotto-ball v-if="bonus" :number="bonus"></lotto-ball>
        <button v-if="redo" @click="onClickRedo">한 번 더!</button>
    </div>
</template>

<script>
    import LottoBall from './LottoBall';

    function getWinNumbers() {
        console.log('getWinNumbers');
        const candidate = Array(45).fill().map((v, i) => i + 1);
        const shuffle = [];
        while (candidate.length > 0) {
            shuffle.push(candidate.splice(Math.floor(Math.random() * candidate.length), 1)[0]);
        }
        const bonusNumber = shuffle[shuffle.length - 1];
        const getWinNumbers = shuffle.slice(0, 6).sort((p, c) => p - c);
        return [...getWinNumbers, bonusNumber];
    }

    const timeouts = [];
    export default {
        components: {
            'lotto-ball': LottoBall
        },
        data() {
            return {
                winNumbers: getWinNumbers(),
                winBalls: [],
                bonus: null,
                redo: false
            }
        },
        computed: { 
            
        },
        methods: {
            onClickRedo() {
                this.winNumbers = getWinNumbers();
                this.winBalls = [];
                this.bonus = null;
                this.redo = false;
                this.showBalls();
            },
            showBalls() {
                for (let i = 0; i < this.winNumbers.length - 1; i++) {
                    timeouts[i] = setTimeout(() => {
                        this.winBalls.push(this.winNumbers[i]);
                    }, (i + 1) * 1000);
                }
                timeouts[6] = setTimeout(() => {
                    this.bonus = this.winNumbers[6];
                    this.redo = true;
                }, 7000);
            }
        },
        mounted() { //화면에 나타난 후
            this.showBalls();
        },
        beforeDestroy() {
            timeouts.forEach((t) => {
                clearTimeout(t);
            });
        },
        watch: { //특정 값이 바뀔 때 특정 함수를 실행시켜 줄 수 있다. 남용하는건 좋지 않다. 최대한 사용을 피하는게 좋다.
            // bonus(value, oldValue) {
            //     console.log('value : ', value);
            //     console.log('oldValue : ', oldValue);
            //     if (value === null) {
                    
            //     }
            // }
        },
    }
</script>